@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap");

/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --dark-blue: #002147;
  --midnight-blue: #221e2c;
  --deep-purple: #6a0dad;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --exo: "Exo 2", sans-serif;
  --orbi: "Orbitron", sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--exo);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);

  /* set length of scroll */
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 150rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.15;
}

.saturn-img {
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0.75;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: var(--orbi);
}

h1,
h2 {
  padding-bottom: 1.5rem;
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
}
/* intro styles */
/*  #intro   */
.header-container {
  padding-bottom: 10rem;
  height: 100vh;
}
.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header h1 span {
  /* color: var(--aqua); */
  padding-bottom: 0.5rem;
  border-bottom: 4px solid var(--aqua);
}

.header p,
.join-container p {
  font-size: 1.5rem;
  line-height: 2;
  letter-spacing: 0.1rem;
  padding-bottom: 2rem;
}

.header-btn,
.join-btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  border: 1px solid var(--aqua);
  text-decoration: none;
  color: var(--white);
  background-color: transparent;
}

.header-btn:hover,
.join-btn:hover {
  background-color: var(--aqua);
  color: var(--black);
  opacity: 0.6;
  border: 1px solid var(--black);
  transition: 0.3s ease;
}
.join-section {
  position: relative;
  padding-bottom: 10rem;
  height: 100vh;
  background-image: url("./assets/images/2k_stars_milky_way.jpg");
}
.join-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.astronaut-right-hand-img {
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 60vh;
  width: 40vw;
  /* object-fit: cover; */
  opacity: 0.75;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  /* background-color: var(--black); */
  color: var(--white);
  font-size: 1.5rem;
  font-family: var(--orbi);
  letter-spacing: 0.2rem;
  z-index: 2;
  position: fixed;
  width: 80%;
  padding: 2rem auto;
  left: 55%;
  transform: translateX(-50%);
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: var(--white);
}
.logo-icon {
  font-size: 2.5rem;
  color: var(--aqua);
  padding-right: 0.5rem;
  border-right: 2px solid var(--aqua);
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  font-family: var(--orbi);
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  display: block;
  padding: 0.5rem;
}
.nav-links a:hover,
.nav-links a:active {
  color: var(--aqua);
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .nav-bar-container {
    max-width: 120rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1300px) {
  .nav-bar-container {
    display: flex;
    flex-direction: column;
  }
  .logo,
  .nav-links {
    flex: 1;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
}

@media (min-width: 850px) {
  .nav-bar-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Footer */
.footer-container {
  position: relative;
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding: 4rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}
.footer-content {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}
.footer-content h4 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin-left: 2rem;
}
.footer-info {
  letter-spacing: 0.1rem;
  line-height: 1.5;
}
.footer-links {
  list-style: none;
}
.footer-links ul {
  list-style-type: none;
}

.footer-links ul li {
  margin-bottom: 10px;
}
.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover,
.footer-links a:active {
  color: var(--aqua);
}
.footer-social ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-left: 2rem;
  margin-top: 4rem;
}
.footer-social ul li {
  margin-bottom: 32px;
}
.footer-social a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
.footer-social a:hover {
  color: var(--aqua);
}
.footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white; /* Adjust text color as needed */
  padding: 10px 0; /* Add padding for spacing */
  text-align: center;
}
